.home {
    width: 100vw;
    height: 100vh;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #666;

    h1 {
        font-size: 2em;
    }
}
