.home {
    width: 100vw;
    height: 100vh;
    background-color: $color-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-dark-secondary;

    .title {
        font-size: 3em;
        margin: 0.4em;
    }
}
