.action {
    font-weight: bold;
    border-radius: 4px;
    background-color: darken($color-primary, 15%);
    color: white;
    padding: 0.6em 1em;
    text-decoration: none;
    display: block;

    &:hover {
        background-color: $color-primary;
    }
}

.button {
    font-size: 40px;
    width: 2em;
    height: 1.6em;
    color: rgba(white, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.66);
    transition: transform 100ms ease-out, color 100ms ease-out;

    &:not([disabled]):hover {
        color: rgba(white, 1);
        transform: scale3d(1.1, 1.1, 1);
    }

    &[disabled] {
        color:  rgba($text-grey-light, 0.8);
    }

    &[disabled] .icon-loader {
        color: $color-primary;
    }

    &.active, &.active:hover {
        color: $color-primary;
    }
}
