.player-controls {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        font-size: 40px;
        width: 2em;
        height: 1.6em;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        opacity: 0.8;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.66);
        transition: transform 100ms ease-out;

        &:hover {
            opacity: 1;
            transform: scale3d(1.1, 1.1, 1);
        }
    }

    .group {
        display: flex;
        align-items: center;
    }
}

:fullscreen {
    .player-controls .icon-maximise:before {
        content: "\e907";
    }
}
