$track-color: rgba(white, 0.5);
$thumb-color: white;
$fill-color: $color-primary;

$track-width: 12rem;
$track-height: 0.4rem;
$thumb-diameter: 1.5rem;

@mixin track($fill: 0) {
  box-sizing: border-box;
  border: none;
  width: $track-width;
  height: $track-height;
  background: $track-color;
  border-radius: $track-height / 2;

  @if $fill == 1 {
    background: linear-gradient($fill-color, $fill-color)
      0/ var(--sx) 100% no-repeat $track-color
  }
}

@mixin fill() {
  height: $track-height;
  background: $fill-color
}

@mixin thumb() {
  box-sizing: border-box;
  border: none;
  width: $thumb-diameter;
  height: $thumb-diameter;
  border-radius: 50%;
  background: $thumb-color;
  box-shadow: 0 0 6px rgba(black, 0.66);
}

[type='range'] {
  &, &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  outline: none;

  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min))/var(--range));
  --sx: calc(.5*#{$thumb-diameter} + var(--ratio)*(100% - #{$thumb-diameter}));
  margin: 0;
  padding: 0;
  width: $track-width; height: $thumb-diameter;
  background: transparent;
  font: 1em/1 arial, sans-serif;

  &::-webkit-slider-runnable-track {
    @include track(1)
  }
  &::-moz-range-track { @include track }
  &::-ms-track { @include track }

  &::-moz-range-progress { @include fill }
  &::-ms-fill-lower { @include fill }

  &::-webkit-slider-thumb {
    margin-top: .5*($track-height - $thumb-diameter);
    @include thumb
  }
  &::-moz-range-thumb { @include thumb }
  &::-ms-thumb {
    margin-top: 0;
    @include thumb
  }

  &::-ms-tooltip { display: none }
}
